 
 <h6>Realizado por johann cruz </h6>
 
 <mat-grid-list cols="4" rowHeight="350px">
  @for (tile of characters.results; track tile) {
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
        <div style="background-color: #454542; padding: 10px; text-align: center; display: flex; flex-direction: column; align-items: center; height: 100%;">
     
          <mat-card class="example-card" style="width: 80%;"  background-color: >
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title style="color: aliceblue"> <p>{{ tile.name }}</p></mat-card-title>
               
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content >
              <img [src]="tile.image" alt="{{ tile.name }}"  style=" max-width: 80%; max-height: 76% color" >
             
              <p style="color: aliceblue">Status: {{ tile.status }}</p>
              <p style=" color: aliceblue">Species: {{ tile.species }}</p>
              <p style=" color: aliceblue">Gender: {{ tile.gender }}</p>
              
            </mat-card-content>
          </mat-card>
     
      </div>
    
    
    </mat-grid-tile>
  }
</mat-grid-list>




<